@charset "UTF-8";
/*------------------------------------Botón de subir------------------------------------ */
#scroll-top-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #00BFFF;
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none; /* Elimina cualquier borde predeterminado */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
    z-index: 1000;
}

#scroll-top-btn.show {
    opacity: 1;
    visibility: visible;
}

#scroll-top-btn:hover {
    background-color: #0088cc;
}

#scroll-top-btn:focus {
    outline: 2px solid #ffffff; /* Contorno personalizado para el foco */
    outline-offset: 2px;
    border: none; /* Asegura que no haya borde en el foco */
}

/*------------------------------------Burbuja flotante de contacto------------------------------------*/
.bubble {
    width: 60px;
    height: 60px;
    background-color: #00BFFF;
    border-radius: 50%; /* Hace que sea circular */
    position: fixed; /* Fija la posición en la pantalla */
    bottom: 20px; /* Distancia desde la parte inferior */
    left: 20px; /* Distancia desde la izquierda */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra aunque con el fondo negro no se aprecia */
    cursor: pointer; /* Cursor de mano al pasar por encima */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 24px;
    text-align: center;
    transition: transform 0.3s ease;
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
}

/* Animación de flotación */
@keyframes float {
    0% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
}

/* Aplica la animación */
.bubble {
    animation: float 2s ease-in-out infinite;
}


/*----------------------------------------------------------------------------------------------------*/