@charset "UTF-8";
* {
  box-sizing: border-box;
}


header {
  position: relative;
  margin-top: 80px; /* Ajusta el espacio superior del header para que no sobrepase el navbar */
  z-index: 1; /* Asegura que el contenido del header esté encima */
}

/* Offcanvas personalizado */

body, .offcanvas {
  font-family: 'Atkinson Hyperlegible', sans-serif;
  color: #E0E0E0;
}
body {
  background-color: #000000 !important;
}

.offcanvas {
  background-color: rgba(0, 0, 0, 0.8);
}

.offcanvas .offcanvas-title {
  color: #E0E0E0;
}
.offcanvas .nav-link {
  color: #E0E0E0;
}
.offcanvas .nav-link:hover,
.offcanvas .nav-link:focus {
  color: #00BFFF;
}
.offcanvas .btn-close {
  filter: invert(1);
}

.offcanvas-fullscreen {
  width: 100vw !important;
  max-width: 100vw;
  height: 100vh !important;
  top: 0;
  left: 0;
  border: none;
}
.offcanvas-body a.nav-link {
  font-size: 1.5rem;
  padding: 0.75rem 0;
}

.login-image{
  position: relative;
}

.login-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.login-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

@media (min-width: 768px) {
  .login-image {
    height: auto;
    min-height: 100vh;
  }
}

/* Navbar */
.navbar {
  position: relative;
  z-index: 10; /* Asegura que el navbar quede por encima de otros elementos */
}

.nav {
  background-color: #E0E0E0;
}

.navbar-brand {
  color: #000000;
  font-weight: bold;
}

.navbar-nav .nav-link {
  color: #000000;
}

.navbar-nav .nav-link:focus,
.navbar-nav .nav-link:hover {
  color: #00BFFF;
}

/* Buscador */
.form-control {
  background-color: #FFFFFF;
  color: #000000;
}
.btn-outline-dark {
  color: #000000;
  border-color: #000000;
}
.btn-outline-dark:hover {
  background-color: #00BFFF;
  color: white;
  border-color: #00BFFF;
}

/* Carousel */
.carousel-caption {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 20px;
  position: absolute;
  bottom: 40px;
  left: 0;
  width: 100%;
}
.carousel-item img {
  object-fit: cover; /* Ajusta la imagen sin distorsionarla */
  width: 100%;
  height: 100vh; /* Hace que la imagen ocupe toda la altura de la pantalla */
  z-index: -1; /* Hace que la imagen quede detrás del contenido */
}

/* Botones */
.navbar-toggler {
  border-color: #00BFFF;
  color: #00BFFF;
}
.navbar-toggler:focus,
.navbar-toggler:hover {
  background-color: #00BFFF;
  color: white;
}

.btn-grupo5{
  --bs-btn-color: white;
  --bs-btn-bg: #00BFFF;
  --bs-btn-border-color: #00BFFF;
  --bs-btn-hover-bg: #009ACD;
  --bs-btn-hover-border-color: #009ACD;
  --bs-btn-hover-color: white;
}

.btn-outline-grupo5{
  --bs-btn-color: #00BFFF;
  --bs-btn-border-color: #00BFFF;
  --bs-btn-hover-bg: #00BFFF;
  --bs-btn-hover-border-color: #00BFFF;
  --bs-btn-hover-color: white;
}

#btnSubir {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none; /* Oculto por defecto */
  z-index: 9999;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 24px;
  line-height: 1;
  text-align: center;
  background-color: #00BFFF;
  color: white;
}

/* Cards */
.card {
  background-color: white;
  border: 1px solid #ddd;
  color: #000000;
}
.card-title {
  color: #00BFFF;
  font-weight: 600;
}
.card-text {
  color: black;
}

/* Modales */
.modal-content {
  background-color: #000000;
  color: white;
}
.modal-dialog {
  margin-top: 50px;
}
.modal-header .modal-title {
  color: #00BFFF;
}
.modal-body{
  background-color: #000000;
  color: white;
}
.modal-header {
  background-color: #000000;
}

#disponibilidadModal .btn-close {
  filter: invert(1);
}

.card-img-top {
  height: 250px;
  object-fit: cover;
  border-radius: 12px;
}

/* Tipografías */
h1,h2{
  color: #00BFFF;
  font-weight: 800;
}

h3, h4 {
  color: #E0E0E0;
  font-weight: 600;
}
h5 {
  color:#00BFFF;
  font-weight: 500;
}
h6 {
  color: white;
  font-weight: 300;
}

/* Acordeón */
.accordion-button {
  background-color: rgb(0, 0, 0);
  color: #ffffff;
}

.accordion-button:not(.collapsed) {
  background-color: #000000;
  color: #00BFFF
}

.accordion-body {
  background-color: rgb(0, 0, 0);
  color: #ffffff;
}

/* Footer y iconos */
footer {
  background-color: #E0E0E0;
  color: #000000;
}
footer h5{
  color:#000000
}

footer a {
  color: #000000;
}
footer a:hover {
  color: #00BFFF;
}

.footer .fa-bounce {
  font-size: 24px;
}
.fa-brands {
  margin-right: 10px;
  margin-left: 0;
}
.fa-brands:last-child {
  margin-right: 0;
}

footer i,
.footer i,
footer .bi,
.footer .bi,
footer .fa-brands {
  color: #000000;
}

footer i:hover,
.footer i:hover {
  color: #00BFFF;
}

/* Ajustar altura del carrusel en pantallas grandes */
@media (min-width: 992px) {
  header {
    max-height: 400px; /* Ajusta la altura máxima del header */
  }

  .carousel-item img {
    height: auto; /* Hace que la imagen se ajuste al tamaño del contenedor */
  }
}